<!-- <app-navbar></app-navbar>

<div class="welcome">
    <app-bigpic *ngIf="iBigpic" [setting]="iBigpic" (changeClub)="clubDisplayed=$event"></app-bigpic>
    <ng-container *ngIf="clubDisplayed">
        <div class="prelative">
            <app-textpic [setting]="clubDisplayed"></app-textpic>
        </div>
        <div class="prelative">
            <app-textfloat></app-textfloat>
            <app-textpic [setting]="clubDisplayed" [reverse]="true"></app-textpic>
        </div>
        <div class="prelative">
            <app-textfloat [reverse]="true"></app-textfloat>
            <app-textpic [setting]="clubDisplayed"></app-textpic>
            <app-textfloat [lastone]="true"></app-textfloat>
        </div>
    </ng-container>
    <app-footer></app-footer>
</div> -->



ciuaooo