<div class="footer">
    <div class="main">
        <div class="menu">
            <a href="//facebook.com/beathecue" target="_blank">
                <button mat-button>Facebook</button>
            </a>
            <div class="dot">&bull;</div>
            <button mat-button>Instangram</button>
            <div class="dot">&bull;</div>
            <button mat-button>Contact</button>
            <div class="dot">&bull;</div>
            <button mat-button>Support</button>
        </div>
    </div>
</div>