@use "@angular/material" as mat;
@include mat.core();
$beathecue-home-primary: mat.define-palette(mat.$indigo-palette);
$beathecue-home-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);
$beathecue-home-warn: mat.define-palette(mat.$red-palette);
$beathecue-home-theme: mat.define-light-theme(
  (
    color: (
      primary: $beathecue-home-primary,
      accent: $beathecue-home-accent,
      warn: $beathecue-home-warn,
    ),
  )
);
@include mat.all-component-themes($beathecue-home-theme);

@import "aos/dist/aos.css";

@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
  --primary: #333333;
  --secondary: #8f9deb;
  --red: rgb(199, 59, 59);
  --green: rgb(67, 180, 128);
  --pink: rgb(159, 51, 221);
  --blue: rgb(57, 160, 219);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-radio-outer-circle {
  border-color: rgb(255 255 255 / 54%) !important;
}

.mat-menu-content {
  background-color: black !important;
  button,
  .mat-icon {
    color: white !important;
  }
}

.dialoglogin{
    padding: 0;
    .mat-dialog-container{
      // background-color: black;
      // color: white;
    }
}

.searchclub{
    margin-top: 10px;
    background-color: red;
}
